/.vscode
/assumption1.png
/assumption2.png
/assumption3.png
/cooks_distance.png
/correlation_matrix.png
/leverages.png
/qq_plot.png
/qq_residuals.png
/regression_model.png
/residuals-fitted.png
/residuals-predicted_value.png
/residual_histogram.png
/std_residuals.png
/table_image.png
/test.png
/used_cars.csv
/variables~residuals.png
/variable_correlation.png